$bg-color: #ed1b2e;
$item_bg_color: #FFFFFF;

$main_padding: 40px;

@import 'reset';
@import 'type';

html, body {
	background-color: $bg-color;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.content, .preload {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
}

.preload {
	.inner {
		display: table;
		width: 100%;
		height: 100%;
		
		p {
			display: table-cell;
			vertical-align: middle;
		}
		
		.preload_text {
			
		}
	}
}

.content {
	display: none;
	
	h2 {
		cursor: pointer;
	}
	
	.activate_button {
		margin-top: 60px;
		border: 3px solid #FFFFFF;
		padding: $main_padding;
		display: inline-block;
	}
}

.content_controller {
	padding: $main_padding;
	
	h1, h2 {
		margin-bottom: $main_padding;
	}
	
	h2 {
		margin-top: $main_padding;
	}
	
	.item {
		border-radius: 10px;
		background-color: $item_bg_color;
		margin-bottom: $main_padding / 2;
		padding: $main_padding;
		cursor: pointer;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
	}
}