@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$number_size: 32px;
$main_size: 24px;

$sub_title_size: 18px;
$sub_title_weight: 400;

$counter_timer_size: 30px;

$title_color: #FFF;
$font_colour: #4d4d4d;

@mixin transition($duration) {
  -webkit-transition: all $duration ease;
     -moz-transition: all $duration ease;
      -ms-transition: all $duration ease;
          transition: all $duration ease;
}

html, body {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	color: $title_color;
	font-size: $main_size;
}

a {
	@include transition(0.3s);
	color: $font_colour;
	display: block;
	text-decoration: none;
	font-size: $sub_title_size;
	font-weight: $sub_title_weight;
	letter-spacing: 1px;
	border-bottom: 2px $font_colour solid;
	cursor: pointer;
	
	@media (max-width: 480px) {
		font-size: $sub_title_size - 4px;
	}
}

p {
	font-size: $number_size;
	font-weight: $sub_title_weight;
	color: $font_colour;
}

.preload {
	.inner {
		p {
			font-size: $sub_title_size;
		}
	}
}