include header_controller
	
.content_controller
	.inner
		h1 Messages:
		
		.item
			p(alt="ape") ape
		
		.item
			p(alt="bowhead-whale") bowhead whale
			
		.item
			p(alt="cat") cat
			
		.item
			p(alt="cow") cow
			
		.item
			p(alt="duck") duck
			
		.item
			p(alt="lion") lion
			
		.item
			p(alt="pig") pig
	
include footer