include header_controller
	
.content_controller
	.inner
		h1 Welcomes:
		
		.item
			p(alt="WelcomeShorter") Welcome
	
		h2 Exciting presents:
		
		.item
			p(alt="NailedIt") I believe the term is Naaaaaaaailed it.
		
		.item
			p(alt="p_bequiet2") Everyone be quiet... this should be good
			
		.item
			p(alt="drum_roll_sound_effect") Drumroll (sound effect)
			
		.item
			p(alt="n_give_osc") Give that man an oscar
		
		.item
			p(alt="p_verynice") Very niccccce
			
		.item
			p(alt="onwithlights") On with the lights, off with the list
			
			
		h2 Not so exciting presents:
		
		.item
			p(alt="slow_clapping_sound_effect") Slow Clapping (Sound Effect)
		
		.item
			p(alt="Waaaaaa") Waaaab Waaaaaaab Waaaaaaaah
			
		.item
			p(alt="really") Reeeeally?
			
		.item
			p(alt="off_guard2") Oh I had know idea, you've caught me off guard
			
		.item
			p(alt="n_socks") What'd'ya reckon? Socks. Socks. Socks.
			
		.item
			p(alt="beatoothb") Please don't let this be a toothbrush.
			
		h2 Miscellaneous:
		
		.item
			p(alt="wereoutofbat") We're out of batteries people!
			
		.item
			p(alt="n_tinselTang") Don't get your tinsel in a tangle
			
		.item
			p(alt="trustincash") Trust in Cashmere old friend
			
		.item
			p(alt="cat_alert") Cat alert!
		
		h2 TV Catchphrases:
		
		.item
			p(alt="Chistmas_is_upon_us") Christmas is nearly upon us!
			
		.item
			p(alt="freeyourself") Free yourself from the shackles of the list
			
		.item
			p(alt="not_now_trev") Not now Trevor
			
		.item
			p(alt="prochristmas2") I'm pro christmas. I mean look at me!
			
		.item
			p(alt="timetogoofflist") There's still time people! Time to go off list!
			
		h2 Animal sounds, just in case:
			
		.item
			p(alt="cow") cow
			
		.item
			p(alt="lion") lion
			
		.item
			p(alt="pig") pig
	
include footer