meta(property="og:title", content="Brexit Belly - Are we Innie or Outie?")
meta(property="og:type", content="website")
meta(property="og:url", content="http://brexitbelly.eu/")
meta(property="og:image", content="http://brexitbelly.eu/img/fb_share.png")
meta(property="og:site_name", content="BrexitBelly.eu")
meta(property="og:description", content="Just what are the very latest, high tech, big data, number crunching algorithms predicting the outcome of the referendum to be? Brexit Belly will tell you if we'll be Innie or Outie.")
meta(property="fb:app_id", content="194800020920404")
meta(name="description", content="Just what are the very latest, high tech, big data, number crunching algorithms predicting the outcome of the referendum to be? Brexit Belly will tell you if we'll be Innie or Outie.")
meta(name="keywords", content="")